* {
    margin: 0;
    border: 0;
    padding: 0;
}

.bttnContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}

.bttnChips {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.bttnChoose {
    width: 30px;
    height: 30px;
}