.game .board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.game .board_row {
  display: flex;
}

.game .cell {
  width: 100px;
  height: 100px;
  border-radius: 0;
  border: none;
  box-shadow: 0px 0px 8px #888;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
  font-weight: 700;
  background-color: #f2f2f2;
  outline: none;
  margin-bottom: 10px;
}
.game .cell:hover {
  color: inherit;
}

.game .cell_x {
  background: white;
  color:rgb(255,70,37);
}
.game .cell_x:hover {
  color: white;
}

.game .cell_o {
    color:rgb(44,135,255);
}

.game .cell_o:hover {
  color: blue;
}

.game p {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;
}

.game .reset {
  margin-top: 20px;
  min-width: 200px;
  border-radius: 2px;
  border: none;
}
