.App {
  text-align: center;
  height: 100vh;
}
html {
  background-color: black;
  color: white;
}
h1 {
  font-size: 2rem;
}

button {
  padding: 0.5rem 3rem;
  font-size: 1.3rem;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
}

.chip-button {
  padding: 0.3rem 3rem;
  margin-left: 1rem;
  background-color: white;
  border-radius: 10%;
  color: black;
}

.select-chip {
  font-size: 1.5rem;
}

.not-started {
  color: yellow;
}
