.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 400px;
  margin: 3rem auto;
  background-color: white;
}
.tile {
  background-color: black;
  color: white;
  /* border: 1px solid #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  height: 100px;
}
